<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="white-text center-on-small-only column-title" translate="global.footer.getting_started">GET STARTED</h3>
                <div class="footer-content">
                    <p class="white-text center-on-small-only" translate="global.teaser"></p>
                    <a ui-sref="register" class="btn btn-raised" translate="global.footer.getting_started_button">Get started</a>
                </div>
            </div>
            <hr class="hidden-lg hidden-md"/>
            <div class="col-md-3">
                <h3 class="white-text center-on-small-only column-title" translate="global.footer.useful_links">USEFUL LINKS</h3>
                <ul class="list-unstyled">
                    <li ui-sref-active="active">
                        <a ui-sref="guide">
                            <span translate="global.menu.guide">Guide</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="info">
                            <span translate="global.menu.info">Info</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="contact">
                            <span translate="global.menu.contact">contact</span>
                        </a>
                    </li>
                </ul>
            </div>
            <hr class="hidden-lg hidden-md"/>
            <div class="col-md-3">
                <h3 class="white-text center-on-small-only column-title" translate="global.footer.social_media">SOCIAL MEDIA</h3>
                <a target="_blank" href="https://www.facebook.com/3rud" class="btn btn-fab fb-bg"><i class="material-icons fa fa-facebook"> </i></a>
                <a target="_blank" href="https://twitter.com/real3rud" class="btn btn-fab tw-bg"><i class="material-icons fa fa-twitter"> </i></a>
                <a target="_blank" href="https://plus.google.com/108431638733195740324" class="btn btn-fab gplus-bg"><i class="material-icons fa fa-google-plus"> </i></a>
            </div>
            <hr class="hidden-lg hidden-md"/>
            <div class="col-md-3">
                <h3 class="white-text center-on-small-only column-title" translate="global.footer.mobile_apps">Mobile Apps</h3>
                <a target="_blank" href="#" class="btn btn-fab"><i class="material-icons fa fa-apple"> </i></a>
                <a target="_blank" href="https://play.google.com/store/apps/details?id=com.urud.portal" class="btn btn-fab"><i class="material-icons fa fa-android"> </i></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="col-md-6" translate="global.footer.links"></div>
            <div class="col-md-6 text-right" translate="global.footer.copyright"></div>
        </div>
    </div>
</footer>

<!-- Google Analytics: uncomment and change UA-XXXXX-X to be your site's ID.
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    e.src='//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X');ga('send','pageview');
</script>-->
