$bootstrap-sass-asset-helper: false !default;

//http://www.colourlovers.com/palette/1365151/piccadilly_sparrows
$brand-primary: #004853 !default;
$brand-success: #007E80 !default;
$brand-info: #00B9BD !default;
$brand-danger: #F63700 !default;
$brand-warning: #FB6900 !default;
