$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------

@import "color";

/*********************
  Variables
**********************/
$urud: #695f88 !default;
$primary: #00796b;
$success: #07a60e !default;
$info: #ADB29F !default;
$danger: #ff231e !default;
$warning: #F67A89 !default;

$primary-color-dark: darken($primary, 50%);
$primary-color:        $primary;
$primary-color-light:  lighten($primary-color, 50%);
$primary-color-text:   #FFFFFF;
$accent-color:         $danger;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$gray-base:              #212121 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

//http://www.colourlovers.com/palette/1695359/our_world
$brand-primary: $primary !default;
$brand-success: $success !default;
$brand-info: $info !default;
$brand-danger: $danger !default;
$brand-warning: $warning !default;
$mdb-brand-inverse: $urud !default;
